    <div class="topofPage">

        {{!-- <p id="highscoreLink" class="highscoreLink"> <a href="highscores.html">View Highscores</a> </p> --}}
        <p id="countdown">Start to begin countdown!</p>
        {{!-- <p id="score">score shows here</p> --}}
    </div>

    <div id="start-screen" class="questionArea">

        <h1 class="description">My Intrest Quiz</h1>
        <h2 class="description">Answer these 9 questions
        <br> and find your next podcast!</h2>

            <button id="startBtn">Start Quiz!</button>

    </div>

<div class="questionArea">

    <div id="questions" class="hide">

        <h2 class="description" id="question-main">hi</h2>

        <div id="answers" class="answers"></div>

    </div>

    <div id="end-screen" class="hide">
       

        <h2>All done!</h2>

            <p>Find your podcast within this topic: <span id="intrest"></span>.</p>

                {{!-- <p> Enter initials: <input type="text" id="initials" max="3" />

                <button id="submit">Submit</button> --}}

            </p>

      </div>

</div>

<div id="feedback" class="hide">

    <div class="divider">

        <p></p>

    </div>

</div>

<script src="./js/quiz js/questions.js"></script>
<script src="./js/quiz js/script.js"></script>
