header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: #313552;

}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .bigtitle {

} */

body {
  background-color: #EEE6CE;
}

button {
  background-color: rgb(92, 0, 100);
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

a:link {
  text-decoration: none;
}

button:hover {
  background-color: rgb(124, 0, 124);
  color: white;
  border-radius: 5px; 
}

.start button {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.topofPage {
  display: flex;
  justify-content:space-between;
}

.description {
  text-align: center;
}

.questionArea {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

.divider {
  border-top: 3px solid rgb(138, 138, 138);
  font-style: italic;
  color: rgb(138, 138, 138);
}

/*Erins Css */
.card {
  border: none;
  margin: auto;
  width: 90%;
  border-radius: 14px !important;
}

.area1 {
  background-color: #2EB086;
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
  padding-top: 83px !important;
}

.area2 {
  background-color: #fff;
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}

.name {
  font-size: 25px;
  font-weight: 650;
}

.information {
  color: #9FA8DA;
  font-weight: 500;
  font-size: 16px;
}

.list-quiz {
  display: inline-flex;
  color: #C5CAE9;
}

.list-quiz li {
  list-style: none;
  padding: 12px;
  border-radius: 10px;
  margin-right: 10px;
}

.list-quiz li i {
  font-size: 17px;
  color: #fff;
}

@media (max-width:700px) {
  .list-icons {
      display: block;
  }
}
.take_quiz {
  background: #313552;
}
.results_quiz {
  background: #313552;
}