header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: #002651; /* #303481; /* #233B6E; /* #313552; */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .bigtitle {

} */

body {
  background-color: #ACB0BD; /* #B0B2B8;/* #C8BFC7; /* #A7BED3;/* #B1C1C0; /* #EAD7D7   /* #C2D3CD /* #DBCFB0; /* #F4998D; /* #EAD7D7 /* #B59194; /* #BF8B85; /* #DABECA; /* #D8A48F /* #EDD3C4; /*  #D5CAD6;   /* #EAEAEA; /* #EEE6CE; */
}

button {
  background-color: #002651; /* #303481; /* #233B6E; /* #313552; */
  color: #EBEBEB;  /* rgb(255, 255, 255); */
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 8px;
  /* display: flex;
  flex-direction: column; */
  width: fit-content;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

button:hover {
  background-color: #1b89bc;;
  color: #EBEBEB; 
  border-radius: 5px; 
}

.start button {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.topofPage {
  display: flex;
  justify-content:space-between;
}

.description {
  text-align: center;
}

.questionArea {
  color: #002651;
  margin: auto;
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  /* border: 3px solid green; */
  padding: 10px;
  float: center;
}

.end-screen {
  color: #EBEBEB;

}
.divider {
  border-top: 3px solid rgb(138, 138, 138);
  font-style: italic;
  color: rgb(138, 138, 138);
}

/*Erins Css */
.card {
  border: none;
  margin: auto;
  width: 90%;
  border-radius: 14px !important;
}

.area1 {
  background-color: #64B6AC; /* #79B791; /* #5DA271; /* #2EB086; */
  color: #EBEBEB; /* #EFF0F4; */
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
  padding-top: 33px !important;
  padding-bottom: 33px !important;
  text-align: center;
}

.area2 {
  background-color: #EBEBEB; /* #EFF0F4; /* #fff; */
  color: #002651; /* #233B6E; /* #313552; */
  border-bottom-left-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}

.name {
  font-size: 43px;
  font-weight: 650;
}

.information {
  color: #9FA8DA;
  font-weight: 500;
  font-size: 16px;
}

.list-quiz {
  display: inline-flex;
  color: #C5CAE9;
}

.list-quiz li {
  list-style: none;
  padding: 12px;
  border-radius: 10px;
  margin-right: 10px;
}

.list-quiz li i {
  font-size: 17px;
  color: #fff;
}

@media (max-width:700px) {
  .list-icons {
      display: block;
  }
}

.take_quiz {
  background: #002651; /* #233B6E; /* #313552; */
}

.results_quiz {
  background: #002651; /* #233B6E; /* #313552; */
}